# Dependencies
node_modules/

# Lockfiles (keeping pnpm-lock.yaml)
package-lock.json

# Turborepo
.turbo

# Build outputs
dist/
.next/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# History
.history/

pnpm-lock.yaml